body {
  background: #fff url(./background.jpg) repeat-x 0 0; 
  font-family: Arial, Verdana, sans-serif;  
}

h1,
h2,
h3,
h4 {
  float: left; 
  clear: both; 
  width: 100%; 
}

h1 {
  margin: 0 0 32px 0; 
  font-size:160%;
}

h2 {
  margin: 0 0 24px 0; 
  font-size: 140%;
}

h3 {
  margin: 0 0 20px 0; 
  font-size: 120%;
}

h4 {
  margin: 0 0 12px 0; 
  font-size: 110%;
}

.content {
  float: left; 
  clear: both; 
  width: 920px; 
  padding: 0 20px 70px 20px; 
  margin: 45px 0 0 0;
}

.main-content {
  float: right; 
  width: 673px; 
  padding: 0 12px 0 0;
}

.textblock {
  float: left; 
  clear: both; 
  width: 100%;
  line-height: 21px; 
  font-size: 12px; 
  color: #333333;  
}

.black {
  color: #000; 
}

.gray {
  color: #666;
}

.clear2 {
  clear: both;
  display: block;
  line-height: 0px;
  height: 20px;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}
